@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: small;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 8px;
}


 /* This is where I started */
a {
  text-decoration: none;
  color: grey;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.footer {
  background-color: lightgray;
}

.left-links,
.right-links {
display: flex;
}